# ignore build and output files/directories 
/build/
/Debug/
/Release/
/*.o
/*.d
/*.map
/*.lst
/*.elf
/*.bin
/*.hex
/*.srec
/*.log
/*.swo
/*.axf
/*.dmp
/*.out
/*.cyclo
/*.su
/*.mk

# ignore system linker and temp files: 
*.ld
*.bak
*.tmp